{:nrepl {:host "0.0.0.0"
         :port 7878}

 :projects ["/Users/white1/Dev/recommenders/recs-aws/build-dependencies.txt"
            "/Users/white1/Dev/recommenders/recs-aws-test/build-dependencies.txt"
            "/Users/white1/Dev/recommenders/recs-spark-test/build.sbt"
            "/Users/white1/Dev/recommenders/recs-validation/build.sbt"
            "/Users/white1/Dev/recommenders/recommender-app-common/build.sbt"
            "/Users/white1/Dev/recommenders/recs-sutd-recs-generator/build.sbt"
            "/Users/white1/Dev/recommenders/recs-mendeley-suggest/build.sbt"]}
